@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Archivo Black', sans-serif;
}

body{
    background: silver;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page2 {
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.imagem-animada2 {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 50vh;
}

.rodape2{
    background-color: black ;
    color: white;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    flex-shrink: 0;
}
